#income-container{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.income-styled {
    width: 100%;
    display: flex;
    overflow: auto;
    color: #e0e0e0;
}

.total-income {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(40, 40, 40, 0.98);
    border: 2px solid #333;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 2rem;
    gap: 0.5rem;
}

.total-income span {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--color-green);
}

.income-content {
    display: flex;
    gap: 2rem;
}

.form-container {
    width: 40%;
}

.incomes {
    width: 100%;
}

/* FormStyles.css */

:root {
    --color-accent: #007bff;
    --color-green: #28a745;
    --color-bg: #1a1a2e;
    --color-text: #eaeaea;
    --color-placeholder: rgba(234, 234, 234, 0.4);
    --color-border: #fff;
    --color-box-shadow: rgba(0, 0, 0, 0.06);
}



form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input, textarea, select ,.datepicker{
    font-family: inherit;
    font-size: inherit;
    outline: none;
    width: 90%;
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: 2px solid #333;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3);
    background-color: rgba(40, 40, 40, 0.98);
    color: var(--color-text);
    resize: none;
}


#incomeslist{
    width: 100%;
}


input::placeholder, textarea::placeholder {
    color: var(--color-placeholder);
}

.input-control{
    width: 100%;
}



.selects select {
    color: var(--color-placeholder);
}

.selects select:focus, .selects select:active {
    color: var(--color-text);
}